<main>
    <section id="section-cadastro">
        <h1> Cadastrar Produto</h1>
        <form>
            <div class="form-group">
                <label for="produto">Nome</label>
                <input type="text" class="form-control" id="produto" name="produto" [(ngModel)]="produto.nome" placeholder="Informe o nome do jogo">
            </div>

            <div class="form-group">
                <label for="pasta">Pasta</label>
                <input type="text" class="form-control" id="pasta" name="pasta" [(ngModel)]="produto.pasta" placeholder="Informe a pasta do jogo">
            </div>

            <div class="form-group">
                <label for="foto">Foto</label>
                <input type="text" class="form-control" id="foto" name="foto" [(ngModel)]="produto.foto" placeholder="Informe o nome da imagem ">
            </div>

            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="number" class="form-control" id="preco" name="preco" [(ngModel)]="produto.preco" placeholder="Informe o preço do jogo ">
            </div>

            <div class="form-group">
                <label for="desconto">Desconto</label>
                <input type="number" class="form-control" id="desconto" name="desconto" [(ngModel)]="produto.desconto" placeholder="Informe o desconto em porcentagem">
            </div>
            
            <button type="button" class="btn btn-primary mb-3" (click)="cadastrar()">Cadastrar</button>
        </form>
    </section>
</main>
