<mat-toolbar color="primary">
        <mat-toolbar-row>
              <span><a routerLink="/restrito/lista">Listar Produtos</a></span>
              <span><a routerLink="/restrito/cadastro">Cadastrar Produto</a></span>
              <span class="example-spacer"></span>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
                    <span class="material-icons">logout</span>
                  </button>
            </mat-toolbar-row>
</mat-toolbar>