/* Define uma grid-container com centralização */
.grid-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Estiliza a tabela para ocupar 95% do container e centraliza a tabela */
.table {
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

/* Estiliza a tabela para ocupar 100% do container e centraliza a tabela */
.table thead th {
    background-color: #1e1e1e; /* Adiciona uma cor de fundo para o cabeçalho */
    color: white; /* Define a cor do texto no cabeçalho */
}

/* Estiliza as células da tabela */
.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #1e1e1e;
}

/* Estiliza a imagem dentro da tabela */
.table img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

/* Estiliza os botões dentro da tabela */
.table .btn {
    margin: 0 5px;
}

/* Estiliza o botão primário */
.table .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* Estiliza o botão de exclusão */
.table .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/* Define o hover para os botões */
.table .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.table .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

main {
    background-color: #21224e;
    font-family: Arial, sans-serif;
    padding: 20px;
}